<div class="dashboardNavBar">
    <div class="nav5" ui-sref="Dashboard"><i class="fa fa-home"></i> DASHBOARD</div>
    <div class="nav7" ui-sref="Map"><i class="fa fa-map-marker"></i> MAP</div>
    <div class="dashboardNavLogo" ui-sref="Dashboard">
      Temple Tracker  
    </div>
    <div class="nav7" ui-sref="Profile"><i class="fa fa-user"></i> PROFILE</div>
    <div class="nav7"><a href="/auth/logout"><i class="fa fa-sign-out"></i> LOGOUT</a></div>
</div>

<div class="singleVisitContainer">
	<div class="mainBlog">
		<div class="singleVisitTitle">
			<span>{{ visit.title}}</span>
		</div>

		<div class="singleVisitDate">
			<i class="fa fa-calendar"></i> {{ visit.date | date : fullDate }}
		</div>
		<br>
		<div class="visitJournalEntry"> 
			<div style="white-space:pre-wrap;">
				{{visit.visitJournal}}
			</div>
		</div>	
	</div>

	<div class="blogInfo">
		<div class="singleVisitTemple">
			<span>{{ visit.temple.name }}</span>
			<br>
			<br>
			<br>
		</div>
		<div class="trueData">
			Been to open House: {{ visit.openHouse | yesNo:filter }}
			<br>
			<br>
			Only visited grounds: {{ visit.grounds | yesNo:filter }}
		</div>
		<br>
		<br>
		<div class="fourCol">
			<div>Baptisms: {{ visit.baptisms }}</div>
			<div>Initiatories: {{ visit.initiatories }}</div>
			<div>Endowments: {{ visit.endowments }}</div>
			<div>Sealings: {{ visit.sealings }}</div>
		</div>

	</div>

	<div class="singleVisitGallery">Gallery

		<div class="gallery">
			<img class="materialboxed" data-caption="A picture of some deer and tons of trees" width="250" ng-repeat="image in visit.images" ng-src="{{ image }}">
		</div>

	</div>
</div>



<div class="editVisit">
	<a class="btn-floating btn-large waves-effect waves-light teal lighten-1" ng-click="openModalEditVisit(visit)">
		<i class="material-icons">edit</i>
	</a>
	<br>
	<h4>
		Edit visit
	</h4>
</div>

<div id="modalEditVisit" class="modal">
	<div class="modal-content">
     	<h3>Edit Visit</h3>
     	Title
		<input type="text" ng-model="visit.title" required>
     	<br>
     	Edit Date
     	<input type="date" ng-model="user.baptism">
     	<br>
     	Temple
	 	<select class="browser-default" ng-model="visit.temple">
	   		<option value="" disabled selected>Choose your temple</option>
	    	<option ng-repeat="temple in temples" value="{{ temple._id }}"> {{ temple.name }} </option>
	    </select>
	  	<p>
      		<input type="checkbox" id="test6" ng-model="visit.grounds"/>
      		<label for="test6">Just visited the Temple Grounds</label>
     	</p>	

      	<p>
      		<input type="checkbox" id="test4" checked="checked" ng-model="visit.openHouse"/>
      		<label for="test4">Walked through open house</label>
      	</p>	
      	<br>

		<div class="createOrdinances">
			<div class="row">
        		<br>
	      		<div class="col s3">Baptisms
		      		<br>



	        		<form name="myForm">
	         			<label>Number of Names:
	            		<input type="number" name="input" ng-model="visit.baptisms" min="0" max="99" required>
	         			</label>
	          			<div role="alert">
	            		<span class="error" ng-show="myForm.input.$error.required">
	    					Required!
	          			</span>
	            		<span class="error" ng-show="myForm.input.$error.number">
	             		Not valid number!</span>
	          			</div>
		      			<br>
	      		</div>

	      		<div class="col s3">Initiatories
	      	    <br>
        <form name="myForm">
          <label>Number of Names:
            <input type="number" name="input" ng-model="visit.initiatories" min="0" max="99" required>
         </label>
          <div role="alert">
            <span class="error" ng-show="myForm.input.$error.required">
              Required!</span>
            <span class="error" ng-show="myForm.input.$error.number">
              Not valid number!</span>
          </div>
	      		<br>
	      </div>
	      <div class="col s3">Endowments
	      		<br>
        <form name="myForm">
          <label>Number of Names:
            <input type="number" name="input" ng-model="visit.endowments" min="0" max="99" required>
         </label>
          <div role="alert">
            <span class="error" ng-show="myForm.input.$error.required">
              Required!</span>
            <span class="error" ng-show="myForm.input.$error.number">
              Not valid number!</span>
          </div>	
				<br>
	      </div>
	      <div class="col s3">Sealings
	      	    <br>
        <form name="myForm">
          <label>Number of Names:
            <input type="number" name="input" ng-model="visit.sealings" min="0" max="99" required>
         </label>
          <div role="alert">
            <span class="error" ng-show="myForm.input.$error.required">
              Required!</span>
            <span class="error" ng-show="myForm.input.$error.number">
              Not valid number!</span>
          </div>
	      		<br>
	      </div>
	    	</div>
		</div>

		<div class="row">
		<form class="col s12">
		  <div class="row">
		    <div class="input-field col s12">
		      <textarea id="textarea1" class="materialize-textarea" ng-model="visit.visitJournal"></textarea>
		      <label for="textarea1">Journal</label>
		    </div>
		  </div>
		</form>
		</div>

		<br>
		<h5>Upload Pictures Here</h5>
		<div class="imageAdder" ng-repeat="image in visit.images track by $index">
		<input type="text" placeholder="Paste Url here" ng-model="visit.images[$index]">
		<button class="btn" ng-click="visit.images.splice($index, 1)">
		  <i class="fa fa-ban"></i>
		</button>
		</div>

		<button id="addImageButton" class="btn" ng-click="visit.images.push('')">
		Add Image
		</button>

		<br>
      	<div class="modal-footer">
        	<button class=" modal-action modal-close waves-effect waves-green btn-flat" ng-click="editVisit(modal)">SAVE
        	</button>
      	</div>
   	</div>
</div>

